{% extends "plantillaBase.html" %}
{# para realizar comentarios #}
{% block tituloPestana %} Administración de Género{% endblock %}
{% block titulo %} Género {% endblock %}
{% block mensaje %}{% endblock %}
{% block contenido %}
<form method="POST" action="{% url 'genero' %}">
    {% csrf_token %} 
    <div class="row">
        <div class="col-2 offset-2">id</div>
        <div class="col-5"><input type="text" name="id" value="{{item.idGenero}}" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-2 offset-2">Nombre</div>
        <div class="col-5"><input type="text" name="nombre" value="{{item.nombre}}" class="form-control"></div>
    </div>

    <div class="row">
        <div class="col-2 offset-2">activo</div>
        <div class="col-5"><input type="checkbox" name="activo" {{item.activo |yesno:"checked,''" }} class="form-check-input"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 offset-2">Opciones</div>
        <div class="col-5">
            <input type="submit" name="Grabar" value="Grabar" class="btn btn-danger">
            <input type="submit" name="Listar" value="Listar" class="btn btn-warning">
            <input type="submit" name="Buscar" value="Buscar" class="btn btn-success">
            <input type="submit" name="Eliminar" value="Eliminar" class="btn btn-primary">
        </div>
    </div>

</form>
{% endblock %}
{% block listado %}
    {% if listado %}
        <table class="table table-resposive table-striped table-bordered">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
            {% for obj in listado %}
                <tr>
                    <td>{{obj.idGenero}}</td>
                    <td>{{obj.nombre}}</td>
                    <td>{{obj.activo}}</td>
                </tr>
            {% endfor %}
        </table>    
    {% endif %}
{% endblock %}