{% extends "plantillaBase.html" %}
{# para realizar comentarios #}
{% block tituloPestana %} Administración de marcas{% endblock %}
{% block titulo %} Marca {% endblock %}
{% block mensaje %}{% endblock %}
{% block contenido %}
<form method="POST" action="{% url 'marca' %}">
    <div class="row">
        <div class="col-2 offset-2">id</div>
        <div class="col-5"><input type="text" name="id" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-2 offset-2">Nombre</div>
        <div class="col-5"><input type="text" name="nombre" class="form-control"></div>
    </div>

    <div class="row">
        <div class="col-2 offset-2">activo</div>
        <div class="col-5"><input type="checkbox" name="activo" class="form-check-input"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 offset-2">Opciones</div>
        <div class="col-5">
            <input type="submit" name="Grabar" value="Grabar" class="btn btn-danger">
            <input type="submit" name="Listar" value="Listar" class="btn btn-warning">
            <input type="submit" name="Buscar" value="Buscar" class="btn btn-success">
            <input type="submit" name="Eliminar" value="Eliminar" class="btn btn-primary">
        </div>
    </div>

</form>
{% endblock %}
{% block listado %}{% endblock %}